.recording {
  width: 88%;
  margin: 0 auto;
}
.recording__form-title {
  display: block;
  margin: 0;
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.recording__button {
  display: none;
}
.recording__form-details {
  margin-top: 30px;
  padding: 0;
  border: none;
}
.contact-details__recording-field {
  width: 100%;
  height: 50px;
  margin-top: 6px;
  padding: 0 18px;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid #e5ddd5;
}
.recording-field-surname {
  margin-top: 0;
}
.contact-details__recording-field:hover,
.contact-details__recording-field:focus {
  border: 1px solid #d5c9bd;
}
.contact-details__recording-field:active {
  border: 1px solid #999999;
}
.contact-details__recording-field::placeholder {
  color: #000;
}
.recording__field--patronymic {
  margin-top: 32px;
}
.recording__field--extra-info {
  width: 100%;
  height: 112px;
  margin-top: 32px;
  padding: 14px 18px;
}
@media (min-width: 768px) {
  .recording {
    width: 84%;
  }
  .contact-details {
    margin-top: 54px;
  }
  .contact-details__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .recording__form-title {
    width: 52%;
    margin-top: 5px;
    margin-bottom: 69px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
  .recording__button {
    display: block;
  }
  .contact-details__recording-field {
    flex-grow: 1;
    flex-shrink: 0;
    height: 70px;
    margin-top: 35px;
    padding: 0 25px;
  }
  .contact-details__recording-field:nth-child(3),
  .contact-details__recording-field:nth-child(5),
  .contact-details__recording-field:nth-child(7) {
    width: 33.33%;
    margin-top: 0;
  }
  .contact-details__recording-field:nth-child(5),
  .contact-details__recording-field:nth-child(7) {
    border-left: none;
  }
  .recording__field--extra-info {
    height: 211px;
    padding: 22px 25px;
  }
}
@media (min-width: 1200px) {
  .recording {
    width: 80%;
    max-width: 960px;
  }
  .contact-details__recording-field:nth-child(3),
  .contact-details__recording-field:nth-child(5),
  .contact-details__recording-field:nth-child(7) {
    width: 30.7%;
    margin-top: 0;
    margin-right: 37px;
  }
  .contact-details__recording-field:nth-child(7) {
    margin-right: 0;
  }
  .contact-details__recording-field:nth-child(5),
  .contact-details__recording-field:nth-child(7) {
    border-left: 1px solid #e5ddd5;
  }
  .contact-details__recording-field:nth-child(9),
  .contact-details__recording-field:nth-child(11) {
    width: 48.1%;
    margin-right: 35px;
  }
  .contact-details__recording-field:nth-child(11) {
    margin-right: 0;
  }
}
