@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"), url("../fonts/ptsansnarrow.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "PT Sans Narrow Bold";
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), url("../fonts/ptsansnarrowbold.woff") format("woff");
  font-weight: bold;
}
body {
  max-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow";
  font-size: 18px;
  line-height: 27px;
  color: #f7f4f1;
  font-weight: normal;
  background-color: #282828;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Файл mixins*/
.nav-main {
  position: relative;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  background-color: #826550;
}
@media (min-width: 768px) {
  .nav-main {
    width: auto;
    margin: 0;
  }
  .nav-main__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
  .site-list {
    width: 570px;
  }
  .user-list {
    width: 60px;
  }
}
@media (min-width: 1200px) {
  .nav-main__wrapper {
    width: 960px;
  }
  .site-list {
    width: 780px;
  }
  .user-list {
    width: 160px;
  }
}
.nav-main__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__item {
  display: block;
  line-height: 50px;
}
.nav-main__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  border: none;
}
.nav-main__toggle:hover,
.nav-main__toggle:active {
  background-color: #755a46;
}
.header-main {
  width: 320px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.header-main__logo-link {
  max-height: 85px;
}
@media (min-width: 768px) {
  .header-main__logo-link {
    order: 2;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .header-main__logo-link {
    height: 648px;
  }
}
.stats {
  width: 320px;
  margin: 0 auto;
}
.stats__header {
  padding: 30px 35px 25px 35px;
}
.stats__list {
  width: 100%;
  background-color: #4e4e4e;
}
@media (min-width: 768px) {
  .stats {
    width: 640px;
    margin: 0 auto;
    margin-top: -185px;
  }
  .stats__list {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }
  .stats__header {
    width: 250px;
  }
  .stats__list {
    width: 640px;
  }
}
