@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"), url("../fonts/ptsansnarrow.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), url("../fonts/ptsansnarrowbold.woff") format("woff");
  font-weight: bold;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow";
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  font-weight: normal;
  background-color: #242424;
}
.inner-page {
  color: #000;
  background-color: #f8f5f2;
}
@media (min-width: 768px) {
  body {
    background-color: #353535;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: block;
  box-sizing: border-box;
  width: 280px;
  height: 50px;
  border: 1px solid #e5ddd5;
  line-height: 50px;
  color: #000;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
button:active,
button:link,
button:visited {
  color: #000;
}
@media (min-width: 768px) {
  .button {
    width: 160px;
  }
}
.button:hover {
  border: 1px solid #d5cabe;
}
.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5c9bd;
  border: 1px solid #d5c9bd;
}
.nav-main {
  position: relative;
  width: 100%;
  min-height: 51px;
  margin: 0 auto;
  background-color: #826550;
}
@media (min-width: 768px) {
  .nav-main {
    width: auto;
    margin: 0;
  }
  .nav-main__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
  .site-list {
    width: 570px;
  }
  .user-list {
    width: 60px;
  }
  .user-list__login {
    display: block;
    width: 60px;
    height: 72px;
    padding: 0;
    font-size: 0;
  }
}
.nav-main__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__item a,
.site-list__item--active a {
  display: block;
  padding: 0 21px;
  line-height: 49px;
  border-bottom: 1px solid #71543f;
  border-top: 1px solid #886e5b;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background-color: #826550;
}
.site-list__item a:link,
.site-list__item--active a:link,
.site-list__item a:visited,
.site-list__item--active a:visited,
.site-list__item a:active,
.site-list__item--active a:active {
  color: #fff;
  text-decoration: none;
}
.site-list__item a:hover,
.site-list__item--active a:hover,
.site-list__item a:focus,
.site-list__item--active a:focus {
  background-color: #755a46;
}
.site-list__item--active a:hover,
.site-list__item--active a:focus {
  background-color: #826550;
}
.header-main__logo-link {
  display: block;
  height: 30px;
  margin: 0 auto;
  padding: 29px 0 26px 0;
}
.nav-main--closed .nav-main__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  border: none;
  cursor: pointer;
}
.nav-main--closed .nav-main__toggle:hover,
.nav-main--closed .nav-main__toggle:active {
  background-color: #624530;
}
.nav-main--closed .nav-main__toggle::before {
  position: absolute;
  content: "";
  top: 15px;
  right: 17px;
  width: 36px;
  height: 2px;
  background-color: #fff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.nav-main--opened .nav-main__toggle {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  border: none;
  cursor: pointer;
}
.nav-main--opened .nav-main__toggle:hover,
.nav-main--opened .nav-main__toggle:active {
  background-color: #624530;
}
.nav-main--opened .nav-main__toggle::before,
.nav-main--opened .nav-main__toggle::after {
  position: absolute;
  content: "";
  top: 24px;
  left: 18px;
  width: 35px;
  height: 2px;
  background-color: #fff;
}
.nav-main--opened .nav-main__toggle::before {
  transform: rotate(45deg);
}
.nav-main--opened .nav-main__toggle::after {
  transform: rotate(-45deg);
}
.user-list__item a {
  position: relative;
  display: block;
  padding: 0 21px 0 49px;
  line-height: 49px;
}
.user-list__item a:hover,
.user-list__item a:focus,
.user-list__item a:active {
  background-color: #755a46;
}
.user-list__item a:link,
.user-list__item a:visited {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .user-list {
    width: 60px;
  }
}
@media (min-width: 1200px) {
  .user-list {
    width: 160px;
  }
}
.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 20px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.user-list__login-icon polygon {
  fill: #fff;
}
@media (min-width: 768px) {
  .user-list__login-icon {
    top: 28px;
    left: 32px;
  }
  .user-list__item a:hover,
  .user-list__item a:focus,
  .user-list__item a:active {
    color: #624530;
    background: none;
  }
}
.user-list__item a:hover .user-list__login-icon,
.user-list__item a:focus .user-list__login-icon,
.user-list__item a:active .user-list__login-icon {
  opacity: 1;
}
@media (max-width: 768px) {
  .nav-main--closed .site-list__item {
    display: none;
  }
  .nav-main--closed .site-list__item--active {
    display: block;
  }
  .nav-main--closed .user-list__item {
    display: none;
  }
  .nav-main--closed .site-list__item--active a {
    padding: 0 70px;
    text-align: center;
  }
  .nav-main--opened .nav-main__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38;
  }
  .nav-main--opened .nav-main__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .nav-main--no-js .nav-main__toggle {
    display: none;
  }
  .nav-main--no-js .nav-main__wrapper {
    position: static;
    min-height: 0;
  }
}
@media (min-width: 768px) {
  .nav-main {
    width: auto;
    margin: 0;
    background: #000;
  }
  .nav-main__wrapper {
    display: flex;
    justify-content: space-between;
    width: 84%;
    max-width: 960px;
  }
  .nav-main .nav-main__toggle {
    display: none;
  }
  .site-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 570px;
    flex-grow: 1;
  }
  .site-list__item {
    margin-right: 32px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
  .site-list__item--active {
    position: relative;
  }
  .site-list__item--active::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -2px;
    height: 3px;
    background-color: #826550;
  }
  .site-list__item a {
    padding: 0 1px;
    line-height: 72px;
    background: none;
    border: none;
  }
  .site-list__item a[href]:hover {
    color: #000;
    background-color: #fff;
  }
  .site-list__item a[href]:active {
    color: #fff;
    background-color: #000;
    opacity: 0.3;
  }
  .site-list__item--active a:hover,
  .site-list__item--active a:focus {
    background: none;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 780px;
  }
  .site-list__item {
    margin-right: 0;
  }
  .site-list__item--active::after {
    left: 30px;
    right: 30px;
  }
  .site-list__item a {
    padding: 0 31px;
  }
  .user-list {
    width: auto;
    max-width: 160px;
  }
  .user-list__item a[href]:hover {
    color: #000;
    background-color: #fff;
  }
  .user-list__item a[href]:active {
    color: #fff;
    background-color: #000;
    opacity: 0.3;
  }
  .nav-main .user-list__login {
    font-size: 18px;
    line-height: 72px;
    font-weight: bold;
  }
  .user-list__login:hover polygon {
    fill: #000000;
  }
  .user-list__login-icon {
    left: 15px;
  }
}
.header-main {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background-color: #242424;
}
.header-main__logo-link {
  text-align: center;
}
.header-main__logo-header img {
  width: 226px;
  height: 30px;
}
@media (min-width: 768px) {
  .header-main {
    background-color: #000;
  }
  .header-main__logo-link {
    order: 2;
    width: 100%;
    height: 400px;
    background: url('../img/background-tablet.jpg') center -9px no-repeat;
    padding: 0;
  }
  .header-main__logo-link img {
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .header-main__logo-link {
    height: 648px;
    background-position: center 0;
    background-size: cover;
  }
  .header-main__logo-link img {
    margin-top: 57px;
  }
}
.stats {
  width: auto;
  margin: 0 auto;
}
.stats__header {
  background-color: #fff;
  color: #000000;
  padding: 30px 35px 25px 35px;
}
.stats__slogan {
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0 11px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.stats__info {
  margin: 0;
  font-size: 20px;
  text-align: center;
}
.stats__legend {
  display: block;
  font-size: 20px;
}
.stats__legend sup {
  top: 0.2em;
  font-size: 28px;
}
.stats__legend--bottom {
  margin: 17px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #242424;
}
.stats__legend--top {
  display: none;
}
.stats__list {
  width: 100%;
  border-collapse: collapse;
}
.stats__list tr {
  background-color: #404040;
}
.stats__list tr:nth-child(2n) {
  background-color: #4e4e4e;
}
.stats__list tr:nth-child(3n) {
  background-color: #353535;
}
.stats__list tr:nth-child(4n) {
  background-color: #404040;
}
.stats__field,
.stats__value {
  width: 50%;
  padding: 19px 20px 22px 20px;
}
.stats__value {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  padding-right: 0;
}
.stats__value sup {
  top: -0.6em;
  font-size: 60%;
  margin-left: -5px;
}
.stats__field {
  line-height: 18px;
  text-align: right;
}
@media (min-width: 768px) {
  .stats {
    width: 84%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -185px;
  }
  .stats__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 29px 40px 27px;
    min-height: 129px;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -14px;
    border: 15px solid transparent;
    border-bottom-color: #fff;
    transform: rotate(45deg);
  }
  .stats__slogan {
    width: 50%;
    margin-bottom: 18px;
    padding: 0;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }
  .stats__info {
    width: 32.8%;
    margin-top: 6px;
    padding-right: 40px;
    text-align: left;
    font-size: 20px;
    line-height: 27px;
  }
  .stats__legend--top {
    display: block;
    width: 50%;
    color: rgba(0, 0, 0, 0.3);
  }
  .stats__legend--bottom {
    display: none;
  }
  .stats__list {
    display: flex;
  }
  .stats__list tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .stats__list tr {
    width: 50%;
    box-sizing: border-box;
    padding: 32px 30px 27px 40px;
  }
  .stats__list td {
    display: block;
    width: auto;
    padding: 0;
  }
  .stats__value {
    margin-bottom: 12px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    font-size: 20px;
    text-align: left;
  }
  .stats__field br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .stats {
    display: flex;
    max-width: 1200px;
    margin-top: -160px;
  }
  .stats__header {
    width: 240px;
    flex-grow: 1;
    flex-direction: column;
  }
  .stats__header::before {
    top: 22px;
  }
  .stats__slogan {
    width: 240px;
    margin-bottom: 42px;
  }
  .stats__info {
    width: auto;
    margin-top: 0;
    margin-bottom: 32px;
    margin-right: 35px;
    padding-right: 0;
  }
  .stats__legend--top {
    width: auto;
    margin-top: auto;
  }
  .stats__list {
    width: 640px;
    display: flex;
    flex-grow: 1;
  }
}
.advantages {
  width: 84%;
  max-width: 960px;
  margin: 0 auto;
  background-color: #242424;
}
.advantages__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__title {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 150px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.advantages__title--fast::before {
  position: absolute;
  content: "";
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 95px;
  height: 94px;
  background-image: url(../img/advantages-scissors.png);
}
.advantages__title--cool::before {
  position: absolute;
  content: "";
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 95px;
  height: 88px;
  background-image: url(../img/advantages-cool.png);
}
.advantages__title--expensive::before {
  position: absolute;
  content: "";
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 95px;
  height: 91px;
  background-image: url(../img/advantages-expensive.png);
}
.advantages__description {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 18px;
  font-size: 20px;
  text-align: center;
}
.advantages__item {
  display: none;
}
.slider__item--active {
  display: block;
}
.advantages__toogle {
  margin: 0;
  margin-bottom: 13px;
  text-align: center;
}
.slider__toggle {
  width: 10px;
  height: 10px;
  padding: 0;
  margin-left: 23px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  transform: rotate(45deg);
}
.slider__toggle--active {
  margin-left: 0;
  border: 2px solid #ffffff;
  background-color: #fff;
}
.slider__toggle span {
  display: none;
}
@media (min-width: 768px) {
  .advantages__item--cool,
  .advantages__item--expensive {
    display: block;
  }
  .advantages {
    background-color: #353535;
  }
  .advantages__item {
    position: relative;
  }
  .advantages__title {
    margin: 0;
    padding-top: 43px;
    padding-left: 160px;
    text-align: left;
  }
  .advantages__description {
    position: relative;
    margin: 0;
    padding: 13px 24px 39px 160px;
    text-align: left;
  }
  .slider__list {
    margin-bottom: 43px;
  }
  .advantages__item::after {
    position: absolute;
    content: "";
    left: 160px;
    right: 40px;
    height: 1px;
    background-color: #4a4a4a;
  }
  .advantages__item:last-child::after {
    display: none;
  }
  .advantages__title--fast::before {
    position: absolute;
    content: "";
    top: 46px;
    left: 78px;
    width: 95px;
    height: 94px;
    background-image: url(../img/advantages-scissors.png);
  }
  .advantages__title--cool::before {
    position: absolute;
    content: "";
    top: 46px;
    left: 78px;
    width: 95px;
    height: 88px;
    background-image: url(../img/advantages-cool.png);
  }
  .advantages__title--expensive::before {
    position: absolute;
    content: "";
    top: 46px;
    left: 78px;
    width: 95px;
    height: 91px;
    background-image: url(../img/advantages-expensive.png);
  }
  .news svg {
    height: 42px;
  }
  .news polygon {
    fill: #353535;
  }
  .advantages__toogle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
  }
  .advantages {
    max-width: 1200px;
  }
  .advantages__title {
    padding: 0;
    padding-top: 203px;
    text-align: center;
  }
  .advantages__description {
    padding: 12px 38px 0;
    text-align: center;
  }
  .advantages__item {
    width: 320px;
  }
  .advantages__item::after {
    display: none;
  }
  .advantages__title--fast::before {
    top: 79px;
    left: 50%;
  }
  .advantages__title--cool::before {
    top: 79px;
    left: 50%;
  }
  .advantages__title--expensive::before {
    top: 79px;
    left: 50%;
  }
  .advantages__toogle {
    display: none;
  }
}
.news {
  background-color: #f8f5f2;
  padding-bottom: 28px;
  color: #000000;
  border-bottom: 1px solid #e5ddd5;
}
.news__wrapper {
  width: 88%;
  max-width: 640px;
  margin: 0 auto;
  background-color: #f8f5f2;
}
.news__title {
  margin: 31px 0 8px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.news__list {
  margin: 0;
  padding: 0;
}
.news__item:last-child {
  display: none;
}
.news__item {
  position: relative;
  margin: 9;
  padding: 0;
  list-style: none;
}
.news__item::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  height: 1px;
  background-color: #e5ddd5;
}
.news__item:first-child::before {
  display: none;
}
.news__item:hover {
  color: #826550;
  text-decoration: underline;
}
.news__item:hover .datetime {
  background-color: #826550;
}
.news__item:hover .datetime::after {
  border-top: 10px solid #826550;
}
.news__text {
  min-height: 85px;
  margin: 0;
  padding: 22px 0px 21px 70px;
}
.datetime {
  display: block;
  position: absolute;
  width: 34px;
  height: 50px;
  top: 33px;
  padding: 6px 8px 0;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
.datetime b {
  font-size: 30px;
  line-height: 30px;
}
.datetime::after {
  content: "";
  position: absolute;
  top: 56px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 10px solid #000000;
}
.new__to-all {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .news {
    padding-bottom: 0;
  }
  .news__wrapper {
    width: 84%;
    max-width: 960px;
  }
  .news__title {
    order: 1;
    margin: 0;
    text-align: left;
    font-size: 40px;
    line-height: 40px;
  }
  .news__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 37px;
  }
  .news__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    order: 3;
    margin-top: 52px;
  }
  .news__item {
    width: 50%;
    padding-bottom: 38px;
  }
  .news__text {
    padding: 0px 44px 0px 70px;
  }
  .news__item::before {
    display: none;
  }
  .datetime {
    top: 10px;
  }
  .new__to-all {
    order: 2;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .news__wrapper {
    width: 80%;
    max-width: 1200px;
  }
  .news__wrapper {
    padding-top: 49px;
  }
  .news__title {
    margin-left: 71px;
  }
  .news__item:last-child {
    display: block;
  }
  .news__item {
    width: 33%;
  }
}
.reviews {
  background-color: #f8f5f2;
  color: #000;
}
.reviews__wrapper {
  position: relative;
  width: 88%;
  max-width: 640px;
  margin: 0 auto;
}
.reviews__title {
  margin: 0;
  padding-top: 27px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.reviews__write {
  display: none;
}
.reviews__list {
  margin-top: 26px;
}
.reviews__item {
  margin: 0;
  padding-top: 24px;
}
.reviews__item {
  margin-left: 70px;
}
.reviews__author-picture {
  margin: 0;
  position: absolute;
  top: 92px;
  left: 0;
}
.reviews__author-image {
  width: 50px;
  height: 49px;
  object-fit: cover;
}
.reviews__author-name {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
}
.reviews__text {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 30px;
}
.reviews__next,
.reviews__prev {
  display: none;
}
.reviews__toggles {
  text-align: center;
  padding-bottom: 18px;
  font-size: 0;
}
.reviews__toggles .slider__toggle--active {
  background-color: #000000;
  border: 2px solid #000000;
}
.slider__toggle--reviews {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.footer-contacts__title {
  margin: 0;
}
.footer-main polygon {
  fill: #f8f5f2;
}
@media (min-width: 768px) {
  .reviews__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 84%;
    max-width: 960px;
    padding-top: 35px;
  }
  .reviews__title {
    padding-top: 0;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
  .reviews__write {
    display: block;
  }
  .reviews_list {
    position: relative;
    width: 100%;
    padding: 0 48px;
    margin: 0 auto;
    margin-top: 36px;
    border-right: 1px solid #e5ddd5;
    border-left: 1px solid #e5ddd5;
  }
  .reviews_list::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e5ddd5;
  }
  .reviews__item {
    position: relative;
    margin-left: 0;
    padding: 32px 25px 38px 140px;
    border-right: 1px solid #e5ddd5;
    border-left: 1px solid #e5ddd5;
  }
  .reviews__author-picture {
    top: 41px;
    left: 70px;
    transform: translateX(-50%);
  }
  .reviews__author-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
  .reviews__text {
    margin: 0;
    margin-top: 16px;
  }
  .reviews__toggles {
    display: flex;
    position: relative;
    width: 100%;
    top: 1px;
    margin: 0 auto;
    margin-top: -6px;
    padding-bottom: 71px;
  }
  .reviews__toggles::after,
  .reviews__toggles::before {
    content: "";
    position: relative;
    width: 100px;
    height: 1px;
    top: 4px;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: #e5ddd5;
  }
  .reviews__toggles::before {
    margin-right: 25px;
  }
  .reviews__toggles::after {
    margin-left: 25px;
  }
  .reviews__prev,
  .reviews__next {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    padding: 0;
    border: none;
    border-top: 6px solid #f8f5f2;
    border-right: 12px solid #000000;
    border-bottom: 6px solid #f8f5f2;
  }
  .reviews__prev {
    left: 17px;
  }
  .reviews__next {
    right: 17px;
    transform: rotate(180deg);
  }
  .reviews__next span,
  .reviews__prev span {
    display: none;
  }
  .footer-main svg {
    display: none;
  }
}
@media (min-width: 1200px) {
  .reviews__wrapper {
    width: 80%;
    max-width: 1200px;
    padding-top: 35px;
  }
  .reviews__item {
    padding: 30px 105px 34px 320px;
  }
  .reviews__title {
    margin-left: 71px;
  }
  .reviews__author-picture {
    top: 1px;
    left: 0;
    transform: none;
  }
  .reviews__author-image {
    width: 249px;
    height: 160px;
    border-radius: 0;
  }
  .reviews__text {
    min-height: 52.8px;
  }
}
.footer-main__wrapper {
  width: auto;
  margin: 0 auto;
  margin-top: -7px;
  padding-top: 40px;
  padding-bottom: 24px;
  border-top: 1px solid #353535;
  text-align: center;
}
.footer-contacts__text {
  margin: 0;
  padding: 10px 45px 18px;
}
.footer-contacts .contacts__phone {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  border: 1px solid #353535;
}
.footer-contacts .contacts__phone:hover {
  border: 1px solid #d5cabe;
}
.contacts__phone:active,
.contacts__phone:link,
.contacts__phone:visited {
  color: #ffffff;
}
.contacts__phone-mobile {
  display: none;
}
.social__title {
  display: none;
}
.social__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 321px;
  margin: 0;
  margin: 0 auto;
  margin-top: 28px;
  padding: 0;
  list-style: none;
}
.social-link--vk {
  display: block;
  width: 107px;
  height: 101px;
  background-image: url('../img/social-link-vk.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #353535;
  border-right: none;
  box-sizing: border-box;
}
.social-link--vk:hover {
  border: 1px solid #d5cabe;
}
.social-link--vk:hover .social-link--facebook {
  border-left: none;
}
.social-link--facebook:hover {
  border: 1px solid #d5cabe;
}
.social-link--facebook:hover .social-link--instagram {
  border-left: none;
}
.social-link--instagram:hover {
  border: 1px solid #d5cabe;
}
.social-link--facebook {
  display: block;
  width: 107px;
  height: 101px;
  background-image: url('../img/social-link-facebook.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #353535;
  border-right: none;
  box-sizing: border-box;
}
.social-link--instagram {
  display: block;
  width: 107px;
  height: 101px;
  background-image: url('../img/social-link-instagram.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #353535;
  box-sizing: border-box;
}
.footer-main__copyright {
  margin-top: 35px;
}
.copyright__link {
  margin: 0 auto;
  margin-top: 14px;
  color: #ffffff;
  border: 1px solid #353535;
}
.copyright__link:active,
.copyright__link:link,
.copyright__link:visited {
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer-main__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 84%;
    margin-top: 0;
    padding-top: 55px;
    padding-bottom: 59px;
    border-top: none;
  }
  .footer-contacts {
    order: 1;
    text-align: left;
  }
  .footer-contacts__title {
    text-transform: uppercase;
  }
  .footer-contacts__text {
    padding: 0;
    padding-top: 18px;
  }
  .contacts__phone-mobile {
    display: inline;
  }
  .contacts__phone {
    display: block;
    box-sizing: content-box;
    width: auto;
    height: auto;
    border: none;
    line-height: 27px;
    color: #ffffff;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-transform: none;
  }
  .footer-contacts .contacts__phone:hover {
    border: none;
  }
  .footer-contacts .contacts__phone {
    border: none;
  }
  .footer-main__social-networks {
    margin: 0 auto;
    order: 3;
  }
  .footer-main__copyright {
    order: 2;
    margin-top: 0;
  }
  .footer-main__copyright .copyright__link {
    border: 1px solid #3f3f3f;
  }
  .footer-main__copyright .copyright__link:hover {
    border: 1px solid #d5cabe;
  }
  .social__list {
    width: 640px;
    margin-top: 50px;
  }
  .social-link--vk,
  .social-link--facebook,
  .social-link--instagram {
    width: 213.33px;
    border: 1px solid #3f3f3f;
  }
}
@media (min-width: 1200px) {
  .footer-main__wrapper {
    width: 80%;
    max-width: 1200px;
  }
  .footer-main__social-networks {
    order: 2;
    margin-right: 0;
  }
  .footer-main-contacts {
    width: 320px;
  }
  .footer-main__copyright {
    order: 3;
    width: 320px;
    padding-left: 160px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: 0;
  }
  .social__list {
    width: 320px;
    justify-content: center;
    margin-top: 14px;
  }
  .social-item {
    margin-right: 6px;
  }
  .social-item:last-child {
    margin-right: 0;
  }
  .social__title {
    display: block;
  }
  .social-link--vk,
  .social-link--facebook,
  .social-link--instagram {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }
  .copyright__link {
    margin: 0;
    margin-left: auto;
    margin-top: 14px;
  }
}
.photogallery {
  width: 88%;
  max-width: 640px;
  margin: 0 auto;
}
.photogallery__title {
  margin: 0;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.photogallery__button {
  display: none;
}
.photogallery__list {
  width: 280px;
  margin: 0;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0;
  list-style: none;
}
.photogallery__item {
  margin: 0;
  margin-top: 20px;
}
.photogallery__item:first-child {
  margin-top: 0;
}
.photogallery__item:first-child .photogallery__photo {
  width: 280px;
  height: 480px;
}
.photogallery__photo {
  width: 280px;
  height: 176px;
  position: relative;
  margin: 0;
}
.photogallery__item:first-child .photogallery__photo-image {
  width: 280px;
  height: 480px;
  object-fit: cover;
  object-position: right center;
  margin: 0 auto;
}
.photogallery__photo-image {
  width: 280px;
  height: 176px;
  object-fit: cover;
  object-position: center top;
}
.photogallery__work-of-the-month {
  position: absolute;
  display: block;
  width: 176px;
  height: 50px;
  top: 400px;
  background-image: url(../../img/label.png);
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.photogallery__name {
  font-size: 24px;
}
.photogallery__review {
  padding: 15px 23px 20px 23px;
  border: 1px solid #e5ddd5;
  border-top: none;
}
.photogallery__text {
  margin: 0;
  margin-top: 18px;
}
.photogallery__srevices {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 23px;
  list-style: none;
}
.photogallery__service {
  position: relative;
  width: 50%;
  margin-top: 23px;
  padding-left: 37px;
  box-sizing: border-box;
  font-size: 16px;
  text-transform: uppercase;
}
.photogallery__service:first-child,
.photogallery__service:nth-child(2) {
  margin-top: 0;
}
.service-haircut::before,
.service-shaving::before,
.service-mustache::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.service-haircut::before {
  width: 21px;
  height: 20px;
  background-image: url(../../img/service-haircut.png);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.service-shaving::before {
  width: 23px;
  height: 20px;
  background-image: url(../../img/service-shaving.png);
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.service-mustache::before {
  width: 45px;
  height: 12px;
  background-image: url(../../img/service-mustache.png);
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
}
