@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"), url("../fonts/ptsansnarrow.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), url("../fonts/ptsansnarrowbold.woff") format("woff");
  font-weight: bold;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow";
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  font-weight: normal;
  background-color: #242424;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Файл mixins*/
.nav-main {
  position: relative;
  width: 100%;
  min-height: 51px;
  margin: 0 auto;
  background-color: #826550;
}
@media (min-width: 768px) {
  .nav-main {
    width: auto;
    margin: 0;
  }
  .nav-main__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
  .site-list {
    width: 570px;
  }
  .user-list {
    width: 60px;
  }
  .user-list__login {
    display: block;
    width: 60px;
    height: 72px;
    padding: 0;
    font-size: 0;
  }
}
.nav-main__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__item a,
.site-list__item--active a {
  display: block;
  padding: 0 21px;
  line-height: 49px;
  border-bottom: 1px solid #71543f;
  border-top: 1px solid #886e5b;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background-color: #826550;
}
.site-list__item a:link,
.site-list__item--active a:link,
.site-list__item a:visited,
.site-list__item--active a:visited,
.site-list__item a:active,
.site-list__item--active a:active {
  color: #fff;
  text-decoration: none;
}
.site-list__item a:hover,
.site-list__item--active a:hover,
.site-list__item a:focus,
.site-list__item--active a:focus {
  background-color: #755a46;
}
.site-list__item--active a:hover,
.site-list__item--active a:focus {
  background-color: #826550;
}
.header-main__logo-link {
  display: block;
  height: 30px;
  margin: 0 auto;
  padding: 29px 0 26px 0;
}
.nav-main--closed .nav-main__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  border: none;
  cursor: pointer;
}
.nav-main--closed .nav-main__toggle:hover,
.nav-main--closed .nav-main__toggle:active {
  background-color: #624530;
}
.nav-main--closed .nav-main__toggle::before {
  position: absolute;
  content: "";
  top: 15px;
  right: 17px;
  width: 36px;
  height: 2px;
  background-color: #fff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.nav-main--opened .nav-main__toggle {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  border: none;
  cursor: pointer;
}
.nav-main--opened .nav-main__toggle:hover,
.nav-main--opened .nav-main__toggle:active {
  background-color: #624530;
}
.nav-main--opened .nav-main__toggle::before,
.nav-main--opened .nav-main__toggle::after {
  position: absolute;
  content: "";
  top: 24px;
  left: 18px;
  width: 35px;
  height: 2px;
  background-color: #fff;
}
.nav-main--opened .nav-main__toggle::before {
  transform: rotate(45deg);
}
.nav-main--opened .nav-main__toggle::after {
  transform: rotate(-45deg);
}
.user-list__item a {
  position: relative;
  display: block;
  padding: 0 21px 0 49px;
  line-height: 49px;
}
.user-list__item a:hover,
.user-list__item a:focus,
.user-list__item a:active {
  background-color: #755a46;
}
.user-list__item a:link,
.user-list__item a:visited {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .user-list {
    width: 60px;
  }
}
@media (min-width: 1200px) {
  .user-list {
    width: 160px;
  }
}
.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 20px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.user-list__login-icon polygon {
  fill: #fff;
}
@media (min-width: 768px) {
  .user-list__login-icon {
    top: 28px;
    left: 32px;
  }
  .user-list__item a:hover,
  .user-list__item a:focus,
  .user-list__item a:active {
    color: #624530;
    background: none;
  }
}
.user-list__item a:hover .user-list__login-icon,
.user-list__item a:focus .user-list__login-icon,
.user-list__item a:active .user-list__login-icon {
  opacity: 1;
}
@media (max-width: 767px) {
  .nav-main--closed .site-list__item {
    display: none;
  }
  .nav-main--closed .site-list__item--active {
    display: block;
  }
  .nav-main--closed .user-list__item {
    display: none;
  }
  .nav-main--closed .site-list__item--active a {
    padding: 0 70px;
    text-align: center;
  }
  .nav-main--opened .nav-main__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38;
  }
  .nav-main--opened .nav-main__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .nav-main--no-js .nav-main__toggle {
    display: none;
  }
  .nav-main--no-js .nav-main__wrapper {
    position: static;
    min-height: 0;
  }
}
@media (min-width: 768px) {
  .nav-main {
    width: auto;
    margin: 0;
    background: #000;
  }
  .nav-main__wrapper {
    display: flex;
    justify-content: space-between;
    width: 84%;
    max-width: 960px;
  }
  .nav-main .nav-main__toggle {
    display: none;
  }
  .site-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 570px;
    flex-grow: 1;
  }
  .site-list__item {
    margin-right: 32px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
  .site-list__item--active {
    position: relative;
  }
  .site-list__item--active::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -2px;
    height: 3px;
    background-color: #826550;
  }
  .site-list__item a {
    padding: 0 1px;
    line-height: 72px;
    background: none;
    border: none;
  }
  .site-list__item a[href]:hover {
    color: #000;
    background-color: #fff;
  }
  .site-list__item a[href]:active {
    color: #fff;
    background-color: #000;
    opacity: 0.3;
  }
  .site-list__item--active a:hover,
  .site-list__item--active a:focus {
    background: none;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 780px;
  }
  .site-list__item {
    margin-right: 0;
  }
  .site-list__item--active::after {
    left: 30px;
    right: 30px;
  }
  .site-list__item a {
    padding: 0 31px;
  }
  .user-list {
    width: auto;
    max-width: 160px;
  }
  .user-list__item a[href]:hover {
    color: #000;
    background-color: #fff;
  }
  .user-list__item a[href]:active {
    color: #fff;
    background-color: #000;
    opacity: 0.3;
  }
  .nav-main .user-list__login {
    font-size: 18px;
    line-height: 72px;
    font-weight: bold;
  }
  .user-list__login:hover polygon {
    fill: #000000;
  }
  .user-list__login-icon {
    left: 15px;
  }
}
.header-main {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.header-main__logo-link {
  text-align: center;
}
.header-main__logo-header img {
  width: 226px;
  height: 30px;
}
@media (min-width: 768px) {
  .header-main {
    background-color: #000;
  }
  .header-main__logo-link {
    order: 2;
    width: 100%;
    height: 400px;
    background: url('../img/background-tablet.jpg') center -9px no-repeat;
    padding: 0;
  }
  .header-main__logo-link img {
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .header-main__logo-link {
    height: 648px;
    background-position: center 0;
    background-size: cover;
  }
  .header-main__logo-link img {
    margin-top: 57px;
  }
}
.stats {
  width: auto;
  margin: 0 auto;
}
.stats__header {
  background-color: #fff;
  color: #000000;
  padding: 30px 35px 25px 35px;
}
.stats__slogan {
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0 11px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.stats__info {
  margin: 0;
  font-size: 20px;
  text-align: center;
}
.stats__legend {
  display: block;
  font-size: 20px;
}
.stats__legend sup {
  top: 0.2em;
  font-size: 28px;
}
.stats__legend--bottom {
  margin: 17px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #242424;
}
.stats__legend--top {
  display: none;
}
.stats__list {
  width: 100%;
  border-collapse: collapse;
}
.stats__list tr {
  background-color: #404040;
}
.stats__list tr:nth-child(2n) {
  background-color: #4e4e4e;
}
.stats__list tr:nth-child(3n) {
  background-color: #353535;
}
.stats__list tr:nth-child(4n) {
  background-color: #404040;
}
.stats__field,
.stats__value {
  width: 50%;
  padding: 19px 20px 22px 20px;
}
.stats__value {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  padding-right: 0;
}
.stats__value sup {
  top: -0.6em;
  font-size: 60%;
  margin-left: -5px;
}
.stats__field {
  line-height: 18px;
  text-align: right;
}
@media (min-width: 768px) {
  .stats {
    width: 84%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -185px;
  }
  .stats__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 33px 40px 30px;
    min-height: 129px;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -14px;
    border: 15px solid transparent;
    border-bottom-color: #fff;
    transform: rotate(45deg);
  }
  .stats__slogan {
    width: 50%;
    margin-bottom: 18px;
    padding: 0;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }
  .stats__info {
    width: 32.8%;
    margin-top: 6px;
    padding-right: 40px;
    text-align: left;
    font-size: 20px;
    line-height: 27px;
  }
  .stats__legend--top {
    display: block;
    width: 50%;
    color: rgba(0, 0, 0, 0.3);
  }
  .stats__legend--bottom {
    display: none;
  }
  .stats__list {
    display: flex;
  }
  .stats__list tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .stats__list tr {
    width: 50%;
    box-sizing: border-box;
    padding: 32px 35px 27px 40px;
  }
  .stats__list td {
    display: block;
    width: auto;
    padding: 0;
  }
  .stats__value {
    margin-bottom: 12px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    font-size: 20px;
    text-align: left;
  }
  .stats__field br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .stats {
    display: flex;
    margin-top: -160px;
  }
  .stats__header {
    width: 240px;
    flex-grow: 1;
    flex-direction: column;
  }
  .stats__header::before {
    top: 22px;
  }
  .stats__slogan {
    width: 240px;
    margin-bottom: 42px;
  }
  .stats__info {
    width: auto;
    margin-top: 0;
    margin-bottom: 32px;
    margin-right: 35px;
    padding-right: 0;
  }
  .stats__legend--top {
    width: auto;
    margin-top: auto;
  }
  .stats__list {
    width: 640px;
    display: flex;
    flex-grow: 1;
  }
}
.advantages {
  width: auto;
  background-color: #242424;
}
.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__title {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 150px;
  text-align: center;
  margin-bottom: 14px;
}
.advantages__title--fast::before {
  position: absolute;
  content: "";
  top: 24px;
  left: calc(50%);
  width: 95px;
  height: 94px;
  background-image: url(../img/advantages-scissors.png);
}
.advantages__title--cool::before {
  position: absolute;
  content: "";
  top: 24px;
  left: calc(50%);
  width: 95px;
  height: 94px;
  background-image: url(../img/advantages-cool.png);
}
.advantages__title--expensive::before {
  position: absolute;
  content: "";
  top: 24px;
  left: calc(50%);
  width: 95px;
  height: 94px;
  background-image: url(../img/advantages-expensive.png);
}
.advantages__description {
  margin: 0;
  padding: 0;
  text-align: center;
}
.news {
  background-color: #fff;
}
